# Compiler files
cache/
out/
/script/output/*/*.json
!/script/output/*/*-latest.json
!/script/output/*/*.v.json

# Ignores development broadcast logs
/broadcast

# Docs
docs/

# Dotenv file
.env
.secret
